[Desktop Entry]
Type=Application
Name=qutebrowser
Comment=Minimal webrowser
Terminal=false
Exec=qutebrowser %u
Categories=WebBrowser
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
